.seat-chart {
  text-align: center;
  max-width: 10%;

  @media screen and (max-width: 800px) {
    max-width: 100%;
  }

  .seat-icon {
    border-radius: 10px;
    height: 30px;
    margin: 5px;
  }

  .selected {
    background-color: #c0b9ac;
  }
}
