.sign-up {
  display: flex;
  flex-direction: column;
  width: 380px;

  .title {
    margin: 10px 0;
  }

  @media screen and (max-width: 800px) {
    width: 100%;
    display: inline-table;
  }
}

.sign-up-form {
  @media screen and (max-width: 800px) {
    max-width: 100%;
  }
}
