.travel-form {
  padding: 20px;

  .select {
    width: 100%;
    margin: 10px 0px;

    padding: 5px;
    font-size: 16px;

    padding: 5.333333px; //   4px / 0.75
    border-radius: 6.666667px; //   5px / 0.75
    border-width: 1.333333px; //   1px / 0.75
    cursor: pointer;
  }
}
